# =========================
# Imagens e screenshots
# =========================
*.png
*.jpg
*.jpeg
*.svg

# =========================
# Arquivos de logs e saídas geradas
# =========================
*.csv
results/
outputs/
logs/

# Ambiente virtual

env/
venv/

# Python

__pycache__/
*.pyc

# Dados temporários

*.log

# Sistema

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/

# PDFs finais

docs/*.pdf
